body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f4f8;
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  background: #f0f4f8;
  height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to top */
  position: relative;
}


.card {
  background: #f0f4f8;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

#game-container.hidden,
#calibrate-container.hidden,
#tutorial-container.hidden {
  display: none;
}

.calibrate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shape-image {
  max-width: 200px;
  margin-bottom: 20px;
}

#calibrateShape-image {
  max-width: 220px;
  margin-bottom: 20px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px 5px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2980b9;
}

#exit-fullscreen-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1000;
}

#enter-fullscreen-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1000;
}

.swiping {
  background-color: #f1c40f;
}

.primary-button {
  font-size: 17px;
}

.start-button {
  padding: 14px 32px;
  font-size: 18px;
  background-color: #2ecc71;
}

.start-button:hover {
  background-color: #27ae60;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#round-board ul {
  list-style-type: none;
  padding-left: 0;
}

#game-container,
#calibrate-container,
#tutorial-container {
  background: #f0f4f8;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  /* Flexbox for vertical & horizontal centering */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#tutorial-container {
  justify-content: center;
}

#tutorial-image {
  width: 90%;
  max-width: 1100px;
  height: auto;
}


@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }

  #start-button,
  #calibrate-button {
    margin-top: 0;
  }

  #button-container {
    display: flex;
    flex-grow: 0;
    width: 100%;
    gap: 4px;
    margin-top: auto;
  }

  #button-container button {
    flex: 1;
    margin: 0;
    height: 400px;
    font-size: 1.2rem;
    border-radius: 0;
  }

  #shape-image {
    margin-top: 100px;
  }

  #game-container,
  #calibrate-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #game-container,
  #calibrate-container,
  #tutorial-container {
    justify-content: center;
  }

  #shape-image,
  #calibrateShape-image {
    max-width: 40vh;
  }

  #tutorial-image {
    width: 100%;
  }
}

